* {padding: 0; margin:0;}

.menu img{width: 130px; height: 40px; float: left; margin-top: 30px; margin-left: 50px; border-right: 1px solid #b2bec3; padding-right: 80px; }

.lambangsearch img {float:right; height: 100px; width:100px;margin-left: 5px; background:#ff4757; }

.sosmed img {width: 20px; height: 20px; float: right; margin-top: 41px; margin-right: 20px;margin-left: 10px; opacity: 50%;}

.nomortlp img {width: 20px; height: 20px; float: right; margin-right: 7px; margin-top: 41px; }

nav ul li {float: left; list-style:none; background: white; }
nav ul li:hover {background: #74b9ff;}

nav ul li a {margin-right: 15px; text-decoration: none; padding: 3px 15px; font-family: sans-serif; color:#192a56; }
nav ul li a:hover {color: white;}

nav ul li ul {display: none;}
 
nav ul li:hover > ul {display: block; }

nav { background:white; height: 40px; line-height: 100px; margin-left: 170px; }
nav ul li ul {position: absolute;}

nav ul li ul li {float: none; position: relative; line-height: 50px;}
nav ul li ul li:hover > ul {display: block; }

nav ul ul ul {left: 100%; top: 0; width: 200px;}

.nomortlp h1 {float: right; font-size: 20px; border-right: 1px solid #b2bec3; padding-right: 20px; margin-right: 10px;  }

.menu h1 {font-size: 27px; float: left; margin-top: 33px; margin-left: 3px;}

.gambaratas {width: ;}
.gambaratas img {width: 100%; height: auto; position: static;filter: brightness(80%);}
.gambaratas h1 {text-align: center; font-size: 150px; ; font-family: garamond; margin-top: -1000px; margin-bottom: 900px;font-style: italic; color: white; width: 100%; height: auto; position: absolute}
.gambaratas h2 {text-align: center; font-size: 30px; ; font-family: futura; margin-top: -850px; margin-bottom: 900px; color: white; width: 100%; height: auto;position: absolute}


/* ini f1*/
.all {background-color:#192a56; margin-top: 300px; ; width: 100%}
.f1 {margin-left: 400px}
.lambang  { padding-top: 100px; position: relative;}
.lb h1 {text-align: left; margin-top : 20px; font-size: 15px; color: grey;}
.lb img {width: 20px; height: 20px; float: left; margin-top: 50px;margin-left: 20px; opacity: 50%;}

/* ini f2*/
.f2 {float: left; text-align: left;margin-left: 170px; color: white; margin-top: -150px;}
.f2 h1 {margin-bottom: 20px; font-family: sans-serif}
.f2 p {margin-top: 10px;color: grey;}
.f2 p:hover {color:red}

/* ini f3*/
.f3 {float :left ;margin-left: 80px; color: white; margin-top: -145px; width: 280px;}
.f3 h1 {margin-bottom: 10px; float: left; font-family: sans-serif; font-size: 28px;}
.f3 .kiri p {margin-top: 10px;  float: left; margin-right: 500px;color: grey;}
.f3 .kanan p {margin-top: 10px;  float: left; margin-right: 500px;color: grey;}
.f3 p:hover {color:red}

/* ini f4*/
.f4 {float: left; margin-top: -150px; margin-left: 50px;width: 300px;}
.f4 h1 {color: white; font-family: sans-serif}
.f4 img {border-radius:8px; margin-top: 20px;}


/* ini f5*/
.f5 p {text-align: center; margin-top: 200px; color: white; padding: 40px; border-top: 1px solid grey}
.f5 a {color: red;}


p:hover {color:red}

.map {text-align: center; margin-top: 200px;}

.git {text-align: center; }
.git h1 {margin-top: 100px; color: #192a56 ; font-family: serif; margin-right: 1025px;}
.git .msg {margin-top: 20px;margin-right: 450px; height: 250px; width: 750px;}
.git .name {margin-top: 40px; height: 40px; width: 350px; margin-right: 45px }
.git .email {height: 40px; width: 350px; margin-right: 450px}
.git .sbj  {margin-top: 40px; height: 40px;height: 40px;width: 750px; margin-right: 450px;}
.git h2 {margin-top: 40px; background-color: #38ada9 ; padding: 15px; padding-left:10px; width: 100px; margin-left: 350px; font-size: 15px; font-family: sans-serif; color: white}
.git h2:hover {background-color:#ff4757 }

.last img {width: 30px; height: 30px; position: relative; margin-top: 30px;}
.last {float: right; text-align: left; margin-top: -500px; margin-right: 450px;}
.last h1  {margin-left: 50px; margin-top: -40px; font-size: 15px; color: color: #192a56;font-family: sans-serif}
.last h2  {margin-left: 50px; font-size: 15px; color: grey; font-family: sans-serif; margin-top: 10px;
.last3 h2 {width: 150px;}
